/*Posts*/
/*.grid{
    display:grid;
    width:114em;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
}*/

.posts .container h1{
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
}
.container-fluid .container .row{
    display: flex;
}
.grid-item {
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}
.grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
 /*.card img{
    height:400px;
    width:300px;
}*/
.card-img{
    display: block;
    
    object-fit:cover;
}
.card-btn{
    display: block;
    width: 100%;
    padding:1.5rem;
    font-size:2rem;
    text-align: center;
    color:#3363ff;
    background-color: #d8e0fd;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.card-btn span {
    margin-left: 1rem;
    transition: 0.2s;
}
.card-btn:hover,
.card-btn:active {
    background-color: #CA82FF;
}
.card-btn:hover span,
.card-btn span:active{
    margin-left:1.5rem;
}



.hamburger{
    display: none;
    cursor: pointer;
}
 .bar{
    
    display: block;
    width: 25px;
    height:3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}


@media(max-width:768px){
    .hamburger{
        display: block;
    }
   
     .hamburger.active .bar:nth-child(2){
        transform: translate(0px) rotate(0deg);
        
    }
     .hamburger.active .bar:nth-child(1){
        transform: translate(0px) rotate(0deg);
        
    }
   
     .hamburger.active .bar:nth-child(3){
        transform: translate(0px) rotate(0deg);
    }
    
    
    
    .menu .container .nav-menu li{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 0px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
   
    .nav-menu.active{
        left:0;
    }
}











.video-bg {
    position:absolute;
    width: 100%;
    
    
   
    
}

.menu .container ul li img{
    height:30px;
    width:40px;
    padding-bottom: 5px;
}



.cards1{
    background-color: black;
    height: 50%;
}

header{
    background-color: black;
    height:55px;
    
}
header ul{
    gap:10px;
}
.middlebar .logo img{
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.email{
    gap:10px;
}
.hero{
    
    background:linear-gradient(black, #9E4784)
}
.hero .logo img{
    height: 100px;
    width: 100px;
}

.feature .container-fluid .item img{
    height:150px;
    width:150px;
    
}


.menu{
    background-color: black;
    
}
.menu ul{
    gap:20px;
    padding: 10px;
}
.menu a{
    text-decoration: none;
    
    
}
.menu img{
    padding-left: 10px;
}
.cards{
    background-color: #000000;
    
}

div.cards1 .container{
     margin:auto;
}
.menu a{
    color:white;
}
div.cards1 h1, p.center{
    text-align: center;
}
div.cards h1, p.letf{
    text-align: left;
}
.cards1 .row{
    gap:30px;
}
.cards1 .btn{
    background-color: black;
    text-decoration: none;
    width:190px;
    height:80px;
    color: white;
}
.hero .container .middlebar .donate {
    display: flex;
    justify-content: center;
    align-items: center;
}

#open-btn{
    background-color: black;
    text-decoration: none;
    width:150px;
    height:40px;
    color:white;
    border-radius: 5px;
    border: 0px black solid;
    
}
#open-btn:hover {
    background-color: white;
    color: black;
  }
#modal{
    background-color:black;
    position: absolute;
    top: 9%;
    left:45%;
    
    width:200px;
    height:100px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    

    animation-name:animatemodal;
    animation-duration: .4s;

}
#close-btn{
    font-size: 3rem;
}
#close-btn {
    cursor:pointer;
    font-size:3rem;
    color:red;
    padding-bottom: 10px;
}
#modal-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}
.cards1 .card img{
    height:300px;
    width:300px;
}




div.urgent div.one{
    gap:30px;
}



.footer p{
    color: white;
}
div.footer ul li{
    color: white;
   
}
div.footer ul.social{
    gap:15px;
}
h1.urgent{
    
    padding-bottom: 20px;
    position: relative;
    
}
h1.urgent::after{
    content:"";
    display:block;
    position:absolute;
    background:#FF7000;
    width:80px;
    height:3px;
    bottom:-3px;
    border-radius: 10px;
}

div.footer h5{
    padding-bottom: 20px;
    position: relative;
}
div.footer h5::after{
    content:"";
    display:block;
    position:absolute;
    background:#FF7000;
    width:80px;
    height:3px;
    bottom:-3px;
    border-radius: 10px;
}

div.feature h1.need{
    padding-bottom: 20px;
    position: relative;
}

.card-body{
    padding-bottom: 20px;
    position: relative;
}
.card-body::after{
    content:"";
    display:block;
    position:absolute;
    background:#FF7000;
    width:90%;
    height:5px;
    border-radius: 10px;
    background: -webkit-gradient(linear,left top, right top, from(black), color-stop(80%, #FF7000), to(white));
    

}


.two {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .two img {
    width: 70%;
    height: auto;
    border-radius: 20px;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .two .btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: orange;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .cards1 .cocktail::after{
    content: "+";
    position: absolute;
    right: 0px;
  }
  .cards1 .cocktail{
    cursor: pointer;
    position: relative;
  }
  .cards1 .card-text{
    height:0px;
    overflow:hidden;
    transition: .5s;
  }
  
  .card .card-body.active .card-text{
    height:150px;
  }



  .two .btn:hover {
    background-color: black;
  }
  div.cards1 div.space{
    gap:20px;
  }

  div.footer img.book{
    height:20px;
    width:20px
  }

  div.footer img.time{
    height:20px;
    width:20px
  }
  p{
  font-family: 'Roboto', sans-serif;
   }

   h1{
    font-family: 'Lora', serif;
   }
   h5{
    font-family: 'Lora', serif;
   }




 div.urgent  div.linear{
    padding-bottom: 20px;
    position: relative;
}
div.urgent div.linear::after{
    content:"";
    display:block;
    position:absolute;
    background:#FF7000;
    width:100%;
    height:5px;
    border-radius: 10px;
    background: -webkit-gradient(linear,left top, right top, from(#FF7000), color-stop(80%, #FF7000), to(grey));
    

}

div.feature div.item img{
    margin-top: 25px;
    height:250px;
    width:250px;
    border-radius: 20px;
    border: 5px solid black;
}



.urgent .slidershow{
    width:500px;
   height: 400px;
    overflow: hidden;
    
}


.navigation{
    position:relative;
    bottom: 20px;
    justify-content: center;
    
    display:flex;
}
.bar{
    width:50px;
    height:10px;
    border: 2px solid black;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 5px;
    
}
.bar:hover{
    background:#fff;
}
input[name="r"]{
    position:absolute;
    visibility: hidden;
}
.slides{
    width:550%;
    height:100%;
    display:flex;
    margin-left: -12px;
}
.slide{
    width:20%;
    transition:0.6s;
   
}
.slide img{
    width:100%;
    height:100%;
    
}
.slide{
    border-radius: 20px;
    
}
#r1:checked ~ .s1{
    margin-left:0;
}
#r2:checked ~ .s1{
    margin-left:-20%;
}
#r3:checked ~ .s1{
    margin-left:-40%;
}
#r4:checked ~ .s1{
    margin-left:-60%;
}
#r5:checked ~ .s1{
    margin-left:-80%;
}

.footer .cock{
    width:100px;
    height:100px;
    border-radius: 100px;
}
.footer .text{
    padding-right: 50px;
}
.posts{
    background:linear-gradient(black, #9E4784)  
}

.posts .container .post-card{
    display: flex;
}


.banner{
    background-color: #9E4784;
}



.feature .cards1 a button{
    background-color: orange;
    border-radius: 5px;
    border: 0px white solid;
    text-decoration: none;
    height: 40px;
    color: #fff;
    width: 150px;
}

.banner h1{
    padding-top: 100px;
}
.banner{
    margin-top: 0px;
    margin-bottom: 0px;
}





.footer{
    background:linear-gradient(#9E4784,black)
}

.copyright{
    background-color: black;
}
@media (max-width: 768px) { 
    .middlebar{
        flex-direction: column;
    }
 }

 @media (max-width: 768px) { 
    div.menu ul{
        flex-wrap:wrap;
    }
 }
 @media (max-width: 768px) { 
    div.hero div.email{
        flex-direction:column;
    }
 }

 @media (max-width: 768px) { 
    .banner ul{
        flex-direction: column;
    }
 }

 @media (max-width: 768px) { 
    .footer div{
        flex-direction: column;
    }
 }

 @media (max-width: 768px) { 
 .urgent .slidershow{
    width:300px;
   height: 300px;
    overflow: hidden;
    
}
}

@media (max-width: 768px) { 
#modal{
    width:150px;
    height:60px;
    border-radius: 5px;
    font-size: 1rem;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
}
@media (max-width: 768px) { 
    .feature .container-fluid .item img{
        height:100px;
        width:100px;
        margin-left: 40%;
    }
 }

 @media (max-width: 1200px) { 
    .posts .container .row img{
        height:250px;
        width:250px;
        
    }
 }
 @media (max-width: 900px){
 .posts .container .row{
    flex-direction: column;
    align-items: center;
 }
}
 